extends ../layout

block scripts
	script(type='text/javascript', src='/javascripts/page-managers/schedule/index.js')

	script(type='text/javascript').
		$(document).ready(function() {
			  var pageManager = new PageManager();
			  pageManager.init();
		});
		
block content
	div(class='row')
		div(class='col-md-12')
			ul(class='nav nav-pills pull-right')
				li
					a(href='/schedule/members') Team Rollup

				li
					a(href='/schedule/projects') Project Rollup

				li(class='dropdown' role='presentation')
					a(class='dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='false', href='#')
						| Members 
						span(class='caret')

						ul(class='dropdown-menu dropdown-menu-right scrollable-menu', role='menu')
							each member in allMembers
								li
									a(href='/schedule/member/#{member._id}') #{member.name}

				li(class='dropdown' role='presentation')
					a(class='dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='false', href='#')
						| Projects 
						span(class='caret')

						ul(class='dropdown-menu dropdown-menu-right scrollable-menu', role='menu')
							each project in allProjects
								li
									a(href='/schedule/project/#{project._id}') #{project.name}

				if(editingEnabled)
					li
						button(id='editible-grid-toggle-button', class='btn btn-primary', data-toggle='tooltip', data-placement='top', title='Editable Grid')
							span(class='glyphicon glyphicon-th')
							span(class='sr-only') Editable Grid
							
	div(class='row')
		div(class='col-md-12') 
			h2(class='h3 pull-left') #{title}

	div(class='row')
		div(class='col-md-12')
			div(class='schedule')
				if(_.isEmpty(processedSchedules))
					div(class='alert alert-info') No Schedules Found
				else
					table(class='table table-condensed')
						thead
							tr
								th

								each date in allDates
									th(class='text-center') #{date}

							tr(class='duplicate-column-tool')
								td Duplicate Column Tool
								each date in allDates
									td(class='duplicate-column')
										button(id='edit-mode-button', class='btn btn-primary btn-xs')
											span(class='glyphicon glyphicon-arrow-right')
											span(class='sr-only') Duplicate Column to Next
										
						tbody
							//- row. processed schedule is a project or a team member.
							each schedule in processedSchedules
								tr
									td(class='member-name')
										a(href='#{schedule.link}') #{schedule.name}

									//- column. each column is a date and utilization value.
									each date in allDates
										td 
											//- the processed schedule has a key of the current date
											if(_.has(schedule.dates, date))
												span(class='data-value') #{schedule.dates[date].utilization}
											else 
												span(class='data-value') --

											if(editingEnabled)
												input(class='utilization-field')											

