extends ../layout

block scripts
	script(type='text/javascript', src='/javascripts/code-reviews.js')

	script(type='text/javascript').
		$(document).ready(function() {
			  $('[data-toggle="tooltip"]').tooltip();
		});
		
block content
	div(class='row')
		div(class='col-md-12') 
			h2(class='h3 pull-left') #{title}
		
			ul(class='nav nav-pills pull-right')
				li
					a(href='/schedule/members', data-toggle='tooltip', data-placement='top', title='Rollup schedules per team member') Team Rollup

				li
					a(href='/schedule/projects', data-toggle='tooltip', data-placement='top', title='Rollup schedules per project') Project Rollup

				li(class='dropdown' role='presentation')
					a(class='dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='false', href='#')
						| Members 
						span(class='caret')

						ul(class='dropdown-menu dropdown-menu-right scrollable-menu', role='menu')
							each member in allMembers
								li
									a(href='/schedule/member/#{member._id}') #{member.name}

				li(class='dropdown' role='presentation')
					a(class='dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='false', href='#')
						| Projects 
						span(class='caret')

						ul(class='dropdown-menu dropdown-menu-right scrollable-menu', role='menu')
							each project in allProjects
								li
									a(href='/schedule/project/#{project._id}') #{project.name}
	div(class='row')
		div(class='col-md-12')
			div(id='schedule')

				with(processedSchedules)
					if(_.isEmpty(processedSchedules))
						div(class='alert alert-info') No Schedules Found
					else
						table(class='table table-condensed')
							thead
								tr
									th 
									each date in allDates
										th(class='text-center') #{date}
							tbody
								each schedule in processedSchedules
									tr
										td(class='member-name')
											a(href='#{schedule.link}') #{schedule.name}

										each date in allDates
											if(_.has(schedule.dates, date))
												td #{schedule.dates[date]}
											else
												td --

