extends ../layout

block scripts
	script(type='text/javascript', src='/javascripts/page-managers/projects/list.js')

	script(type='text/javascript').
		$(document).ready(function() {
			var pageManager = new PageManager();
			pageManager.init();
		});

block content
	div(class='row')
		div(class='col-md-8')
			table(class='table table-condensed')
				thead
					tr
						// th Id
						th Client
						th Name
						th Contact
						th Tech Lead
						th SBM Project #
						th Size
						th Status
						th 
							span(class='sr-only') Estimate
						th
							span(class='sr-only') Edit
						//th
						//	span(class='sr-only') Delete
				tbody
					each project in projects
						tr
							// td #{project._id}
							// td #{project.client_id}

							//- TODO: Null Check
							td= _.find(clients, function(client) { return client._id == project.client_id; }).name
							td #{project.name}
							td #{project.contact}

							//- TODO: Null Check
							td= _.find(members, function(member) { return member._id == project.techLead; }).name

							td #{project.sbm}
							td #{project.size}
							td #{project.is_active}
							td 
								a(href='/estimates/#{project._id}')
									span(class='glyphicon glyphicon-time')
									span(class='sr-only') Estimate
							td
								a(href='#')
									span(class='glyphicon glyphicon-pencil')
									span(class='sr-only') Edit
							//th
							//	span(class='sr-only') Delete

		div(class='col-md-4')
			h2(class='h4') Add New Project
			form(id='project-form', class='form-horizontal', role='form')
				div(class='alert', role='alert', style='display: none')
				
				div(class='form-group')
					label(for='project-client-id', class='control-label col-sm-4') Client
					div(class='col-sm-8')
						select(id='project-client-id', class='form-control' name='client_id')
							option(value='')
							each client in clients
								option(value='#{client._id}') #{client.name}

				div(class='form-group')
					label(for='project-name', class='control-label col-sm-4') Name
					div(class='col-sm-8')
						input(id='client-name', class='form-control', placeholder='Name', name='name')

				div(class='form-group')
					label(for='project-contact-name', class='control-label col-sm-4') Contact
					div(class='col-sm-8')
						input(id='project-contact-name', class='form-control', placeholder='Contact', name='contact_name')

				div(class='form-group')
					label(for='project-tech-lead', class='control-label col-sm-4') Tech Lead
					div(class='col-sm-8')
						select(id='project-tech-lead', class='form-control', name='tech_lead_id')
							each member in members
								option(value='#{member._id}') #{member.name}

				div(class='form-group')
					label(for='project-sbm-number', class='control-label col-sm-4') SBM #
					div(class='col-sm-8')
						input(id='project-sbm-number', class='form-control', placeholder='SBM #', name='sbm_number')

				div(class='form-group')
					label(for='project-size', class='control-label col-sm-4') Size
					div(class='col-sm-8')
						select(id='project-size', class='form-control', name='project_size')
							option S
							option M
							option L

				div(class='form-group')
					label(for='project-size', class='control-label col-sm-4') Status
					div(class='col-sm-8')
						select(id='project-size', class='form-control', name='is_active')
							option(value='true') Active
							option(value='false') Inactive

				div(class='form-group')
					div(class='col-sm-12')
						button(class='btn btn-primary pull-right', type='submit') Create