extends ../layout

block scripts
	script(type='text/javascript', src='/javascripts/page-managers/code-reviews/index.js')

	script(type='text/javascript').
		$(document).ready(function() {
			var pageManager = new PageManager( "#{ devManagers }", "#{ srDevs }", "#{ developers }", "#{cantPresent}", "#{ rooms }" );
			pageManager.init();
		});
		

block content
	div(class='row')
		div(class='col-md-6') 
			h2(class='h3') Code Reviews
			div(id='teams')

block footer
	div(class='row')
		div(class='col-md-12')
			ul(class='list-unstyled list-inline')
				li
					a(href='/code-reviews/settings') Code Review Settings
				li
					a(href='#' id='regenerate') Regenerate